h2  {color: rgb(32, 161, 201);

}
body {
    
    
background-color:#555555 ;
    background-size: 100% 100%;
}
.header {
    background-color:#181818;
    display: flex;
    justify-content: space-evenly;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

p,h2 {
    text-align: center;
}